{% extends 'layouts/base.html' %}
{% load static %}

{% block auth %}
    {% include 'components/signup_on_nav.html' %}
{% endblock auth %}

{% block content %}

<div class="row">
    <div class="container d-flex justify-content-center text-center">
        <div class="login-form">
            <div><h2>Registration</h2></div>
            <div class="alert alert-danger w-100 p-2 mt-3" role="alert">
                Sorry, this email address already registered!
            </div>
            <form class="text-center w-100">
                <div class="input-group mb-4">
                    <span class="input-group-text">Login</span>
                    <input type="text" class="form-control" id="login" required>
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text">Email</span>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text">Nickname</span>
                    <input type="text" class="form-control" id="nickname" required>
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text">Password</span>
                    <input type="password" class="form-control" id="password" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Repeat password</span>
                    <input type="password" class="form-control" id="password_confirm" required>
                </div>
                <div class="mb-4">
                    <label for="formFile" class="form-label">Upload avatar</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <button type="submit" class="btn btn-dark btn-block mb-3">Register</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}